<div class="w-full">
  <div class="bg-gray-200 relative mt-28 w-100">
    <h1 class="text-4xl font-normal text-gray-900 pb-6 px-6 md:px-12 text-center">
      Contatti
    </h1>
    <div class="mt-24 text-center">
      <div
        class="flex justify-evenly lg:px-30 lg:pr-30 md:px-4 md:pr-4 "
        id="link_social"
      >
        <a
          href="https://it-it.facebook.com/calogero.fiannaca.5"
          target="__blank"
          class="bg font-bold text-md text-blue-800 py-3 zoom"
          >Facebook</a
        >
        <a 
          href="https://www.instagram.com/__calogero_/" 
          target="__blank"
          class="bg font-bold text-md text-pink-500 py-3 zoom"
          >Instagram</a
        >
        <a 
          href="https://www.youtube.com/channel/UCapKrBeg0gA0Yqm13kyOidw" 
          target="__blank"
          class="bg font-bold text-md text-red-600 py-3 zoom"
          >Youtube</a
        >
        <a 
          href="mailto:calofiannaca@gmail.com" 
          class="bg font-bold text-md text-gray-600 py-3 zoom"
          >Email</a
        >
        <a 
          href="tel:3271773977" 
          class="bg font-bold text-md text-green-600 py-3 zoom"
          >Cell</a
        >
      </div>
    </div>
  </div>
</div>
